<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid modal-header">
            <a class="navbar-brand" href="/schedule/">
<!--                <img src="{% static "schedule/images/BMSTU_logo.png" %}" alt="BMSTU logo" width="70" height="70" class="img-fluid">-->
                <h3>Расписание экзаменов</h3>
            </a>
            <div class="float-end">
                <div class="justify-content-center">
                    <table>
                        <tr>
                            <td class="text-center">
                                <img class="img-fluid" src="{% static "schedule/images/BMSTU_logo.png" %}" alt="BMSTU logo" width="50" height="50">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <p class="text-light">МГТУ им. Н.Э. Баумана</p>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-fluid bg-dark">
        <div class="row">
            <div class="col-2">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        <h4>Группы</h4>
                    </div>
                    {% if group_list %}
                        <ul class="list-group list-group-flush">
                            {% for group in group_list %}
                                <li class="list-group-item bg-dark">
                                    <a class="list" href="{% url 'schedule:detail_student' group.id %}"><h5>{{ group.name }}</h5></a>
                                </li>
                            {% endfor %}
                    </ul>
                    {% else %}
                        <p>No group are available.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        <h4>Преподаватели</h4>
                    </div>
                    {% if exam_list %}
                        <ul class="list-group list-group-flush">
                            {% for exam in exam_list %}
                                <li class="list-group-item bg-dark">
                                    <a class="list" href="{% url 'schedule:detail_lecturer' exam.lecturer %}"><h5>{{ exam.lecturer }}</h5></a>
                                </li>
                            {% endfor %}
                    </ul>
                    {% else %}
                        <p>No lecturer are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid high">

        </div>
    </main>

    <footer class="modal-footer bg-dark">
        <address class="container-fluid">
            <p style="color: #d3d3d4">Контакты: +7-(922)-724-47-88</p>
        </address>
        <p class="container-fluid text-center" style="color: #d3d3d4">2020 BMSTU</p>
    </footer>
</body>
</html>